<body class="overflow-hidden">
  <div
    class="header-container flex flex-col justify-center items-center bg-unlogged bg-cover bg-center h-[92.2vh] w-full mb-0 opacity-85"
  >
    <div class="bg-white rounded-lg shadow-lg p-8">
      <!-- Pokemon-style logo -->
      <div class="text-center mb-2">
        <img src="https://fontmeme.com/permalink/250414/7539ea3ea29cfe978455c0daed4ab7f2.png" alt="DECKRIFT" class="mx-auto" style="max-width: 250px;">
      </div>
      <div class="button-container flex justify-center gap-4 mt-4">
        <a
          href="/login"
          class="header-button bg-blue-600 hover:bg-blue-700 text-black text-right font-medium py-2 px-4 rounded-lg transition duration-200"
        >
          Iniciar Sesión
        </a>
        <a
          href="/usuario/create"
          class="header-button bg-green-600 hover:bg-green-700 text-black font-medium py-2 px-4 rounded-lg transition duration-200"
        >
          Registrarse
        </a>
      </div>
      <p class="header-description text-black text-center text-lg mt-4">
        El mejor servicio para apertura de sobres.
      </p>
    </div>
  </div>
</body>
