
<div>
<h2>Colección del Usuario {{ usuarioId }}</h2>


<button (click)="addCartasAleatorias()" >Añadir sobre</button>

<div >
  <nav>
    <ul>
      <li class="page-item" [class.active]="nRpp === 10">
        <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
      </li>
      <li class="page-item" [class.active]="nRpp === 50">
        <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
      </li>
      <li class="page-item" [class.active]="nRpp === 100">
        <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="cartas.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Rareza</th>
        <th>Cantidad</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carta of cartas">
        <td>{{ carta.carta.id }}</td>
        <td>{{ carta.carta.nombre }}</td>
        <td>{{ carta.carta.tipo }}</td>
        <td>{{ carta.carta.rareza }}</td>
        <td>{{ carta.cantidad }}</td>
        <td>
          <button (click)="verImagen(carta.carta.id)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav>
  <ul>
    <!-- Botón Anterior -->
    <li class="page-item" [class.disabled]="nPage === 0">
      <a class="page-link" (click)="nPage > 0 && goToPrev()" href="#">
        Anterior
        <i class="bi bi-caret-left-square-fill"></i>
      </a>
    </li>

    <li class="page-item" *ngFor="let pag of arrBotonera">
      <a
        class="page-link"
        href="#"
        (click)="goToPage(-(-pag))"
        [class.active]="nPage - -1 === -(-pag)"
      >
        {{ pag }}
      </a>
    </li>

    <li class="page-item" [class.disabled]="!oPage || nPage + 1 >= oPage.totalPages">
      <a class="page-link" (click)="goToNext()">Siguiente</a>
    </li>
    
  </ul>
</nav>

    <div *ngIf="imagenActual" class="modal">
      <div class="modal-content">
        <span class="close" (click)="cerrarImagen()">&times;</span>
        <img [src]="imagenActual" alt="Imagen de la carta" />
      </div>
    </div>
    