<div class="container">
  <h2>Lista de cartas</h2>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar cartas"
      [(ngModel)]="strFiltro"
      (keyup)="filter($event)"
    />
  </div>

  <!-- Opciones de registros por página -->
  <div>
    <nav>
      <ul>
        <li class="page-item" [class.active]="nRpp === 10">
          <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
        </li>
        <li class="page-item" [class.active]="nRpp === 50">
          <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
        </li>
        <li class="page-item" [class.active]="nRpp === 100">
          <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Tabla de cartas -->
  <table>
    <thead>
      <tr>
        <th (click)="sort('id')">ID</th>
        <th (click)="sort('nombre')">Nombre</th>
        <th (click)="sort('tipo')">Tipo</th>
        <th (click)="sort('rareza')">Rareza</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carta of oPage?.content">
        <td>{{ carta.id }}</td>
        <td>{{ carta.nombre }}</td>
        <td>{{ carta.tipo }}</td>
        <td>{{ carta.rareza }}</td>
        <td>
          <button (click)="verImagen(carta.id)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="my-2">
    <ul class="pagination justify-content-center">
      <!-- Botón Anterior -->
      <li class="page-item" [class.disabled]="nPage === 0">
        <a class="page-link" (click)="nPage > 0 && goToPrev()" href="#">
          Anterior
          <i class="bi bi-caret-left-square-fill"></i>
        </a>
      </li>

      <li class="page-item" *ngFor="let pag of arrBotonera">
        <a
          class="page-link"
          href="#"
          (click)="goToPage(-(-pag))"
          [class.active]="nPage - -1 === -(-pag)"
        >
          {{ pag }}
        </a>
      </li>

      <li
        class="page-item"
        [class.disabled]="!oPage || nPage + 1 === oPage.totalPages"
      >
        <a
          class="page-link"
          (click)="oPage && nPage + 1 < oPage.totalPages && goToNext()"
          href="#"
        >
          Siguiente
          <i class="bi bi-caret-right-square-fill"></i>
        </a>
      </li>
    </ul>
  </nav>

  <div *ngIf="imagenActual" class="modal">
    <div class="modal-content">
      <span class="close" (click)="cerrarImagen()">&times;</span>
      <img [src]="imagenActual" alt="Imagen de la carta" />
    </div>
  </div>
</div>
